<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 com desktop rescap">

  <Identity
    Name="BlendKeys.WidgetProvider"
    Publisher="CN=BlendKeys"
    Version="0.1.6.0" />

  <Properties>
    <DisplayName>BlendKeys Widget Provider</DisplayName>
    <PublisherDisplayName>BlendKeys</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.22621.0"
      MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-US" />
  </Resources>

  <Applications>
    <Application
      Id="BlendKeysWidgetProvider"
      Executable="BlendKeysWidgetProvider.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="BlendKeys Widget Provider"
        Description="Shows BlendKeys favorite shortcuts in Windows Widgets."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png" />
      <Extensions>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer
              Executable="BlendKeysWidgetProvider.exe"
              DisplayName="BlendKeys Favorites Widget Provider">
              <com:Class
                Id="6F111170-F5C8-49B8-ABA4-FB6B0BCB1477"
                DisplayName="BlendKeys Favorites Widget Provider" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension
            Name="com.microsoft.windows.widgets"
            DisplayName="BlendKeys"
            Id="BlendKeysWidgetApp"
            PublicFolder="Public">
            <uap3:Properties>
              <WidgetProvider>
                <ProviderIcons>
                  <Icon Path="Assets\WidgetIcon.png" />
                </ProviderIcons>
                <Activation>
                  <CreateInstance ClassId="6F111170-F5C8-49B8-ABA4-FB6B0BCB1477" />
                </Activation>
                <Definitions>
                  <Definition
                    Id="BlendKeysFavorites"
                    DisplayName="BlendKeys Favorites"
                    Description="Shows your favorite Blender shortcuts from BlendKeys."
                    AllowMultiple="false">
                    <Capabilities>
                      <Capability>
                        <Size Name="small" />
                      </Capability>
                      <Capability>
                        <Size Name="medium" />
                      </Capability>
                      <Capability>
                        <Size Name="large" />
                      </Capability>
                    </Capabilities>
                    <ThemeResources>
                      <Icons>
                        <Icon Path="Assets\WidgetIcon.png" />
                      </Icons>
                      <Screenshots>
                        <Screenshot Path="Assets\WidgetScreenshot.png" DisplayAltText="BlendKeys favorites widget preview" />
                      </Screenshots>
                    </ThemeResources>
                  </Definition>
                </Definitions>
              </WidgetProvider>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
